body {
  background-color: SandyBrown;
  color: black;
}

.jumbotron {
  background-color: Tomato;
  text-align: center;
  color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

#pizza-copy p {
  padding-top: 1em;
  text-align: justify;
  font-size: 16px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#blanks {
  padding-top: 2em;
}
